<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>
  </head>
  <body>
    <div class="xxx">
    <h1>デモ--瞳の結果表示--</h1>
    <h5>画像をアップロードしてください</h5>
    <form method="post" action="/send" enctype="multipart/form-data">
　　  <input type="file" id="img_file" name="img_file" class="col-sm-4">
  　　<input type="submit" value="送信" class="btn">
    <h6>1MB以上の画像はアップロードできません</h6>

    <p style="color: {{color}};"> {{massege}} </p>
　　</form>
  </div>
  </body>
</html>

<style type="text/css">
div {
  background: #ffffff;
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  height: 50%;
  position:relative;
}
</style>
