<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>結果</title>
  </head>
  <body>
    <div class="xxx">
      <h1>予測結果</h1>
      <img src={{img}} alt="今回の画像" title="今回の画像">
      <p>瞳の縦横比率は 1.0 : {{xy}} です</p>
      <p>白目黒目比率は{{bw1}} : 1.0 : {{bw2}} です</p>
      <p>H: {{h}}, S: {{s}}, V: {{v}}</p>
      <p>{{sanpaku}}</p>
      <a href="./">TOPに飛びます</a>
    </div>
  </body>
</html>

<style type="text/css">
div {
  background: #ffffff;
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
img{
  height: 250px;
}

</style>
